body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-size: cover;
  height: 100vh;
  color: blue;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  border: 4px solid #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  font-size: 20px;
  margin-left: -30px;
  top: 10%;
  width: 0%;
  text-align: center;
  color: aqua;
}

.menu-div {
  position: absolute;
  font-size: 40px;
  top: 50px;
  left: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-div:hover {
  color: brown;
  transition: all 0.2s ease-in-out;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 132, 120);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  position: fixed;
  align-items: center;
  opacity: 0.3;
  top: -100%;
}

.exit {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 50px;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.header {
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
